 </div>
        <!--      <div id="test">
  <p>Click the button to get offsetTop for the test div.</p>
  <p><button onclick="myFunction()">Try it</button></p>
  <p>offsetTop is: <span id="demo"></span></p>
</div>

      </div>
 -->
        <script>
        </script>
        <script src="js/index.js"></script>
</body>
<footer>
    <p>Designed & Built by Pritam Tamang</p>
</footer>

</html>